################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ResxToJson/bin/Debug/net6.0
/ResxToJson/obj
/ResxToJson/ResxToJson.csproj.user
